body{
	background-color: #FFF2F2;
}
#back{
	background:#F9FFC1;
	padding: 50px;
	width:1260px;
	height:610px;
	position:absolute;
	top: 40px;
	left: 20px;
	border: 4px solid #00CC9E;
}
#menu{
	background:#E8D2FF;
	width:250px;
	height:606px;
	position:absolute;
	left:10px;
	top:50px;
	border: 4px solid #00CC9E;
}
#workSpace {
	background-color: #E8D2FF;
	width:807px;
	height:614px;
	position:absolute;
	left:270px;
	top:50px;
	border: 4px solid #00CC9E;         
}
#inputZone{
	background:#E8D2FF;
	width:220px;
	height:110px;
	position:absolute;
	left:1120px;
	top:50px;
	border: 4px solid #00CC9E;
}
#footer{
	background:#E8D2FF;
	width:220px;
	height:486px;
	position:absolute;
	left:1120px;
	top:170px;
	border: 4px solid #00CC9E;
}

#td1 TD {
	text-align: center;
	padding: 10px;
    vertical-align: top; 
    width: 200px;
    height: 123px;
    background-color: #8CFFE4;
	border: 2px solid #00CC9E;
}


.lc {
    border: none;
    text-align: center; 
    vertical-align: top; 
    width: 269px;
    height:130px;
}

.lv {
	height: 130px;
	border: none;
	background-color: #E5E5E5;
	text-align: center; 
    vertical-align: top; 
    width: 269px ;
}

td {
	text-align: center;
    vertical-align: top; 
}

table tbody {
 	display:block;
 	max-height:600px;
 	overflow-y:scroll; 
 }
table tbody tr { 
	display:table; 
	width:100%;
	table-layout:fixed;
}

