body{
	background-color: #FFF2F2;
}
#footer{
	color:#583B6D;
}
#back{
	background:#A2A2A2;
	padding: 50px;
	width:1465px;
	height:680px;
	position:absolute;
	top: 40px;
	left: 20px;
	border: 4px solid #00634D;
}
#menu{
	background:#B1A3B1;
	width:280px;
	height:676px;
	position:absolute;
	left:10px;
	top:50px;
	border: 4px solid #00634D;
}
#workSpace {
	background-color: #B1A3B1;
	width:1005px;
	height:684px;
	border-spacing:2px 0px;
	position:absolute;
	left:300px;
	top:50px;
	border: 4px solid #00634D;         
}
#inputZone{
	background:#B1A3B1;
	width:220px;
	height:110px;
	position:absolute;
	left:1317px;
	top:50px;
	border: 4px solid #00634D;
}
#footer{
	background:#B1A3B1;
	width:220px;
	height:556px;
	position:absolute;
	left:1317px;
	top:170px;
	border: 4px solid #00634D;
}

#td1 TD {
	text-align: center;
	padding: 10px;
    vertical-align: top; 
    width: 200px;
    height: 150px;
    background-color: #C6D8FF;
	border: 2px solid #00634D;
}


.lc {
    text-align: center; 
    vertical-align: top; 
    width: 240px;
    height:170px;
    border: 3px solid #B1A3B1; 

}

.lv {
	background-color: #E5E5E5;
	text-align: center; 
    vertical-align: top; 
    width: 240px ;
	height: 170px;	
	border: 3px solid #E5E5E5; 

}

td {
	text-align: center;
    vertical-align: top; 
}

table tbody {
 	display:block;
 	overflow-y:scroll; 
 	max-height:674px;
}
table tbody tr { 
	display:table; 
	width:100%;
	table-layout:fixed;
}

.droptarget {
	background-color:#E7A7A7 ;
	width: 240px ;
	height: 170px;
	text-align: center; 
    vertical-align: top; 
	border: 3px solid #FD6E70; 
}
