.dropzone {
    vertical-align: middle; 
    text-align: center; 
    border: 3px solid #FD6E70; 
}

.locked {
    vertical-align: middle;
    border: 1px solid #000000;
    text-align: center; 
    width: 250px;
    height:120px;
}