
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #C2C8D5; 
    border-radius: 3px;
}
 
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


body{
	width: 100%;
	height: 100%;
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    background-color: #a5acba	;
    -webkit-appearance: none;
  	-moz-appearance: none;
  	appearance: none;

}

main{
	position: relative;
	width: 100%;
	height:92vh;
}

*{
  margin: 0;
  padding: 0;
  color: #dbf6f1;
}
header{
	font-size: 25px;
	display: flex;
	width: 100%;
	justify-content:center;
	height: 8vh;
	background-color: #2a3c3c;
}

header input{
	height: 40px;
	width: 40px;
	margin: 5px;
}

header div{
	height: 100%;
}
#buttons{
	display: flex;
	justify-content:space-around;
	margin: 1% 29%; 
	width: 50%;
	height: 70%;
	background-color: #1A3131;
}

#hiddenInformationMenu:hover{
	display: block;
	opacity: 0.5;
}

#hiddenTools:hover{
	display: block;
	opacity: 0.5;
}

#hiddenTools{
	width: 9%;
	float:left;
}

#options{
	width: 75%;
	float:left;
}

#hiddenInformationMenu{
	width: 16%;
	float:left;
}

#menu{
	/*border: 4px solid #2a3c3c;*/
	background:#ABAFB9;
	position: absolute;
	width: 9%;
	height: 100%;
  	left: 0;
  	top: 0;
  	display: block;
  	-webkit-transition: width 1s, left 1s;
}


#main{
	background:  #D2D9E8;
  	left: 9%;
	width:75%;
	position: absolute;
  	top: 0;
	height:100%;
	-webkit-transition: width 1s, left 1s;
}

#InformationMenu{
	background:#ABAFB9;
	position: absolute;
  	left: 84%;
  	top: 0;
	width:16%;
	height:100%;
	display: flex;
	-webkit-transition: width 1s, left 1s;
}

#workSpace {
	height: 100%;
	width: 100%;
	background: #D2D9E8;
  	border-spacing:2px 0px;
}


#td1 TD {
	overflow:auto;
	text-align: center;
	padding: 10px;
    vertical-align: top;
}

.lc {
    text-align: center;
    vertical-align: top;
    width: 240px ;
	height: 220px;
}

.lv {
	text-align: center;
    vertical-align: top;
    width: 240px ;
	height: 220px;
}

td {
    text-align: center;
	/*border: 1px solid #111;*/
}

table tbody {
 	display:block;
 	max-height:100%;
 	max-width: :100%;
}
table tbody tr {
    vertical-align: middle;
	display:table;
	width:100%;
	height: 100%;
	table-layout:fixed;
}
#main tr{
	display: flex;
    align-items: center;
 	justify-content: center;
}

#main tr img{
	margin: 35px;
}

#menu table{
	border-spacing: 0px 18px;
}

.droptarget {
	background-color: #C69795 ;
	width: 240px ;
	height: 220px;
	text-align: center;
    vertical-align: top;
}

.focusеtarget {
	background-color: #A5B3C4 ;
	width: 240px ;
	height: 220px;
	text-align: center;
    vertical-align: top;
}
